{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>


    <div class="m-2">
            <nav class="navbar navbar-expand-sm bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Glenn Pascal Mouhingou</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:post_add' %}">Add Post</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
        <br>
    </div>
    <!-- End navbar -->
    <div id="content">
        {% block content %} {% endblock %}
    </div>

    <div id="sidebar">
        <h2>My Blog</h2>
        <p>This is my blog.</p>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>